/*
# ------------------ BEGIN LICENSE BLOCK ------------------
#
# This file is part of PluXml : http://www.pluxml.org
#
# Package:		theme.css
# Copyright (c) 2017 PluXml
# Authors		Stephane F., Pedro "P3ter" CADETE.
# Licensed under the GPL license.
# See http://www.gnu.org/licenses/gpl.html
#
# ------------------- END LICENSE BLOCK -------------------
*/
/* 
@font-face {
	font-family: 'open_sansregular';
	src: url('../fonts/OpenSans-Regular-webfont.eot');
	src: url('../fonts/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
	url('../fonts/OpenSans-Regular-webfont.woff') format('woff'),
	url('../fonts/OpenSans-Regular-webfont.ttf') format('truetype'),
	url('../fonts/OpenSans-Regular-webfont.svg#open_sansregular') format('svg');
	font-weight: normal;
	font-style: normal;

} */

/* KOMIKA police type BD, pour le texte normal */
 @font-face {
    font-family: 'komika_textregular';
    src: url('../fonts/komikatext_regular_macroman/');
    src: url('../fonts/komikatext_regular_macroman/KOMTXT__-webfont.eot?#iefix') format('embedded-opentype'),
        /* url('../fonts/komikatext_regular_macroman/KOMTXT__-webfont.woff2') format('woff2'), */
        url('../fonts/komikatext_regular_macroman/KOMTXT__-webfont.woff') format('woff'),
        url('../fonts/komikatext_regular_macroman/KOMTXT__-webfont.ttf') format('truetype'),
        url('../fonts/komikatext_regular_macroman/KOMTXT__-webfont.svg#komika_textregular') format('svg');
     font-weight: normal;
    font-style: normal;
} 

/*Journal, pour les dates des articles du blog */
/* @font-face {
    font-family: 'journalregular';
    src: url('../fonts/journal_regular_macroman/journal-webfont.eot');
    src: url('../fonts/journal_regular_macroman/journal-webfont.eot?#iefix') format('embedded-opentype'),
        /* url('../fonts/journal_regular_macroman/journal-webfont.woff2') format('woff2'), */
        /* url('../fonts/journal_regular_macroman/journal-webfont.woff') format('woff'),
        url('../fonts/journal_regular_macroman/journal-webfont.ttf') format('truetype'),
        url('../fonts/journal_regular_macroman/journal-webfont.svg#journalregular') format('svg');
    font-weight: normal;
    font-style: normal; */

/* }  */


/* police pour le header */
@font-face {
    font-family: 'sf_cartoonist_handregular';
    src: url('../fonts/sfcartoonisthand_regular_macroman/SF_Cartoonist_Hand-webfont.eot');
    src: url('../fonts/sfcartoonisthand_regular_macroman/SF_Cartoonist_Hand-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/sfcartoonisthand_regular_macroman/SF_Cartoonist_Hand-webfont.woff2') format('woff2'),
         url('../fonts/sfcartoonisthand_regular_macroman/SF_Cartoonist_Hand-webfont.woff') format('woff'),
         url('../fonts/sfcartoonisthand_regular_macroman/SF_Cartoonist_Hand-webfont.ttf') format('truetype'),
         url('../fonts/sfcartoonisthand_regular_macroman/SF_Cartoonist_Hand-webfont.svg#sf_cartoonist_handregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'nimbus_sans_lregular';
    src: url('../fonts/nimbussansl_regular_macroman/NimbusSanL-Reg-webfont.eot');
    src: url('../fonts/nimbussansl_regular_macroman/NimbusSanL-Reg-webfont.eot?#iefix') format('embedded-opentype'),
         /* url('../fonts/nimbussansl_regular_macroman/NimbusSanL-Reg-webfont.woff2') format('woff2'), */
         url('../fonts/nimbussansl_regular_macroman/NimbusSanL-Reg-webfont.woff') format('woff'),
         url('../fonts/nimbussansl_regular_macroman/NimbusSanL-Reg-webfont.ttf') format('truetype'),
         url('../fonts/nimbussansl_regular_macroman/NimbusSanL-Reg-webfont.svg#nimbus_sans_lregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
/* police pour le texte */


@font-face {
    font-family: 'didact_gothicregular';
    src: url('../fonts/didactgothic_regular_macroman/didactgothic-regular-webfont.eot');
    src: url('../fonts/didactgothic_regular_macroman/didactgothic-regular-webfont.eot?#iefix') format('embedded-opentype'),
         /* url('../fonts/didactgothic_regular_macroman/didactgothic-regular-webfont.woff2') format('woff2'), */
         url('../fonts/didactgothic_regular_macroman/didactgothic-regular-webfont.woff') format('woff'),
         url('../fonts/didactgothic_regular_macroman/didactgothic-regular-webfont.ttf') format('truetype'),
         url('../fonts/didactgothic_regular_macroman/didactgothic-regular-webfont.svg#didact_gothicregular') format('svg');
    font-weight: normal;
    font-style: normal;

}


body {
	font-family: 'nimbus_sans_lregular', sans-serif;
	font-size: 1.6em;
	/* line-height: 1.6em; */
	color: rgb(45, 50, 51);
	background-color: #fff;
}

/* ---------- Header ---------- */

header  {
	font-family: 'komika_textregular', sans-serif;
}

/* header .menu {
	font-family: 'didact_gothicregular', sans-serif;

} */

@media (min-width: 64rem) {
	.container {
		padding-left: 3rem;
		padding-right: 3rem;
	}
}

.header {
	background-color: #fff;
	border-bottom: 1px solid #ddd;
	padding-top: 1.3rem;
	height: 9rem;
	z-index: 2;
}

header .grid {
	padding: 0;
}
.header a {
	color: #222;
}

.header a:hover {
	text-decoration: none;
}

.logo {
	background: url("../img/debutbanniere.png") top left no-repeat;
	height: 10rem;
	background-size: 8rem;
	background-position: 2rem 0;
	padding-left: 11rem;
}

.bg {
	/* background: url(../img/bg.jpg) no-repeat top left; */
	background: url(../img/petitlutinartiste_abbeyroad-walking-banner.png) center center no-repeat; /*version normale*/
	/*background: url(../img/petitlutinartistenoel.png) top center no-repeat ; version noel */
	/* background: url(../img/20200131banner.png) cover; */

	border: solid 1px #dddddd;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	/* background-size: contain;  noel */
	 background-size: cover;

	height: 400px;
	/* width: 60%; */
	/* margin: auto; */
	text-align: center;
}

/* @media all and (min-width:1500px){
	.bg{
		height:650px;
	}
} */

@media all and (min-width: 700px) and (max-width:1000px){
	.bg{
		height: 300px;
	}
}

@media all and (min-width: 463px) and (max-width:700px){
	.bg{
		height: 200px;
	}
}

@media all and (max-width: 463px) {
	.logo {
		display: none;
	}
	.bg {
		height: 100px;
	}
}

/* ----- Nav / Menu ----- */

.nav {
	text-align: right;
	padding-top: 1.7rem;
}

ul.menu {
	/* margin-right: 30px; */
}

.menu>li.menu {
	padding: 5px 5px 2px 5px;
	border-bottom: 3px solid transparent; /*avoid other elements to "jump"*/
}

.menu>li.menu:hover {
	border-bottom: 3px solid #222;
}

.menu>li ul {
	display: none;
	position: absolute;
	padding: 0;
	line-height: 2.8rem;
	z-index: 10;
}

.menu>li:hover ul {
	display: block;
}

.menu ul li {
	display: block;
	margin: 0;
	padding: 0 1rem;
	background-color: #fff;
	text-align: left;
}

.menu span::before {
	content: '\25bc';
}

@media (max-width: 767px) {
	.nav {
		height: auto;
		max-height: 200px;
		overflow-y: auto;
		text-align: left;
		margin-top: 0;
		z-index: 10;
	}
	.nav>.container {
		padding: 0;
	}
	li.menu {
		padding: 5px 5px 2px 5px;
		background: #efefef;
	}
	li.menu:hover {
		border: none;
	}
	/* .responsive-menu label {
		background-color: transparent;
		color: #333;
		font-size: 3.5rem;
		margin: .75rem;
		text-align: right;
	} */
	/* .responsive-menu label:before {
		content: '\2630';
	} */
	/* .responsive-menu label:visited {
		color:#258fd6;
	} */

	.menu>li ul {
		position: relative !important;
	}
	.menu>li ul li:hover {
		background-color: #fff;
	}
	.menu>li ul li:hover a {
		text-decoration: underline;
	}
	.responsive-menu ul li.active a,
	.responsive-menu ul li.active:hover {
		background-color: #fff;
		color: #000;
	}

}

/* custom mobile*/
@media (max-width:1099px){
	.responsive-menu label{
		display:block;
	}

	.responsive-menu label {
		background-color: transparent;
		color: #333;
		font-size: 3.5rem;
		margin: .75rem;
		text-align: right;
	}
	.responsive-menu label:before {
		content: '\2630';
	}
	.responsive-menu .menu .pub li{
		padding:10px 0;
	}
	.menu .pub li a {
		font-size:1.1em;
	}

	.menu .kofi {
		margin-top:2px;
	}

	.menu .utip {
		margin-top:5px;
	}

	/* .menu .tipeee{
		margin-top:1px;
	} */
}


@media (max-width:1000px){
	.grid:not(form fieldset .grid){
		padding-left: 2rem!important;
		padding-right: 2rem!important;
	}
}

/* desktop */
@media (min-width:1100px){
	.responsive-menu .menu{
		margin-top:-15px;
	}
	.responsive-menu .menu .pub{
		/* margin-top:-5px; */
		justify-content: flex-end;
	}

	.responsive-menu .menu .pub li{
		padding:0;
	}

	.responsive-menu .menu .pub li a {
		font-size:1em;
	}

	.responsive-menu .menu .kofi {
		margin-top:-4px;
		margin-right: -5px;
	}

	.responsive-menu .menu .tipeee{
		margin-top:1px;
	}
}

li.active a,
a.active {
	color: #222;
}

.static.group.active,
.static.menu.active a {
	color: #222;
	white-space: nowrap;
}

.static.group.noactive,
.static.menu.noactive a {
	color: #258fd6;
	white-space: nowrap;
}

/* ---------- Main ---------- */

.main {
	background-color: #fff;
	padding-top: 2rem;
}

.repertory {
	margin-top: 4rem;
}


/* ------- Pagination ------- */

.pagination {
	margin: 3rem 0 3rem 0;
}

.pagination a {
	/* background-color: #258fd6; */
	background-color: #a47bcd;
	border-radius: .3rem;
	color: #fff;
	padding: .9rem .7rem;
	transition-duration: .2s;
}

.pagination a:hover {
	/* background-color: #3a6c96; */
	background-color: #592c86;
	color: #fff;
	text-decoration: none;
}

.pagination span:first-letter,
.pagination a:first-letter {
	text-transform: uppercase;
}

.p_first,
.p_prev,
.p_current,
.p_next,
.p_last {
	display: inline-block;
}


/* ------- Article ------- */

.article header {
	margin-top: 2rem;
}

.article header div {
	margin: 0;
}

.article header h2,
.article header h2 a, .article header h1,
.article header h1 a {
	color: #222;
	font-size: 3.2rem;
	line-height: 1.2em;
	letter-spacing: -1px;
	/* font-weight: bold; */
	margin: 0;
}

.article header h2 a:hover {
	color: #111;
	text-decoration: none;
}

.article header small,
.comment small {
	color: #9EABB3;
}

.article header span:before,
.article header time:before,
.article footer span:before {
	padding-left: 1.5rem;
	padding-right: .3rem;
}

.article .art-date {
	font-size: 1.5rem;
	color: #9EABB3;
}

.article .written-by:after {
	content: '|';
	padding-left: 0;
}

.article .classified-in:after {
	content: '|';
	padding-left: 0;
}

.article img.art_thumbnail {
	padding: 30px 15px 15px 0;
	float: left;
}

.page.mode-article .article footer {
	border-top: 1px solid #dedede;
	border-bottom: 1px solid #dedede;
}

/* iframe - mostly videos */
.one-iframe iframe{
	max-width:550px;
	width:100%;
	aspect-ratio: 16/9;
}

.two-iframes iframe{
	max-width:400px;
	width:100%;
	aspect-ratio: 16/9;
}

.two-videos{
	display:flex;
	gap:10px;
}

.two-videos figure{
	flex:45%;
}

.two-videos figcaption, .one-video figcaption{
	text-align:center;
}

@media all and (max-width:1200px){
	.two-videos{
		flex-wrap: wrap;
	}
	.two-videos figure{
		flex:100%;
	}
}
/* ------- Comments ------- */

#form {
	border-top: 130px solid transparent;
	margin: -130px 0 0;
}

.comment {
	background-image: url('../img/user.png');
	background-repeat: no-repeat;
	margin-bottom: 2.5rem;
	padding-left: 6rem;
	border-top: 100px solid transparent;
	margin-top: -100px;
}

.comment blockquote {
	margin: 0;
	font-size: 1.3rem;
}

.type-admin {
	background-color: #F0F8FF;
	padding: .2rem .5rem;
}

.nbcom {
	background-color: #258fd6;
	border-radius: .3rem;
	color: #fff;
	padding: .4rem .6rem;
}

.nbcom:hover {
	background-color: #3a6c96;
	color: #fff;
	text-decoration: none;
}

.level-0 {
	margin-left: 0;
}

.level-1 {
	margin-left: 5rem;
}

.level-2 {
	margin-left: 10rem
}

.level-3 {
	margin-left: 15rem;
}

.level-4 {
	margin-left: 20rem;
}

.level-5,
.level-max {
	margin-left: 25rem;
}

@media (max-width: 768px) {
	.comment {
		background-image: none;
		padding-left: 0;
	}
	.level-1 {
		margin-left: 1rem;
	}
	.level-2 {
		margin-left: 2rem;
	}
	.level-3 {
		margin-left: 3rem;
	}
	.level-4 {
		margin-left: 4rem;
	}
	.level-5,
	.level-max {
		margin-left: 5rem;
	}
}

#id_answer {
	margin-bottom: 1.5rem;
	padding: 1.5rem;
	border: 1px solid #eee;
	width: 100%;
	background: #fafafa;
	display: none;
}

.capcha-letter,
.capcha-word {
	font-weight: bold;
}

.capcha-word {
	background-color: #ddd;
	border-radius: .3rem;
	letter-spacing: .5rem;
	padding: .9rem .7rem;
	transition-duration: .2s;
}

.capcha-word:hover {
	background-color: #666;
	color: #fff;
	transition-duration: .2s;
}

/* ------- Sidebar ------- */

.aside {
	padding: 0 2rem 0 2rem;
}

.aside h3 {
	font-size: 1.5rem;
	font-weight: bold;
	margin-top: 5rem;
	text-transform: uppercase;
}

.aside ul {
	margin: 0;
}


/* 

---------- PORTFOLIO ----------
.vignette-container {width: 24%;float: left; height:auto; display:inline; margin: 2px 4px 10px 4px; padding: 2px; border: 1px solid #ccc;}
.vignette-img img {margin: 0; width: 100%;}
.vignette-title {text-align: center; font-size: 80%;}
.big-vignette-img {float: left; margin: 15px 5px 5px 0;}


/* ---------- RESPONSIVE PORTFOLIO ---------- */
/* @media (min-width:400px) and (max-width:799px) {
.vignette-container {width: 31%;}}
@media (max-width:399px) {
.vignette-container {width: 98%;}} */ 



/* pagination */
.p_current {
	padding: 10px;
  }
  .p_page, .p_prev {
	padding-right: 10px;
  }

  .p_prev, .p_next{
	  padding: 10px;;
  }
  /* .p_next a {
	visibility: hidden;
	word-spacing:-999px;
	letter-spacing: -999px; 
}

.p_next  a:after {
	content: "Page suivante";
	visibility: visible;
	word-spacing:normal;
	letter-spacing:normal; 
	background-color: inherit;
	color: inherit;
	padding: 8px;
} */

@media (max-width: 768px) {
	.aside {
		padding-left: 1.5rem;
	}
}

/* tags */

.aside ul.tag-list {
	list-style-type: none;
	padding: 0;
}

.aside ul.tag-list li {
	display: inline-block;
}

.aside ul.tag-list li a {
	padding: 0 0.5rem 0 0;
}

.aside ul.tag-list li a.active {
	font-weight: bold;
	background-color: #68838b;
	color: #fff;
	padding: 0 0.5rem 0 0.5rem;
}

/* https://www.w3schools.com/colors/colors_trends.asp (The 10 Hottest Fall Colors for 2016) */

.tag-size-1 a {
	font-size: 1.0rem;
	/* Riverside  */
	color: #4C6A92;
}

.tag-size-2 a {
	font-size: 1.2rem;
	/* Airy Blue  */
	color: #92B6D5;
}

.tag-size-3 a {
	font-size: 1.4rem;
	/* Sharkskin  */
	color: #838487;
}

.tag-size-4 a {
	font-size: 1.6rem;
	/* Bodacious */
	color: #B76BA3;
}

.tag-size-5 a {
	color: #AF9483;
	/* Warm Taupe */
	font-size: 1.8rem;
}

.tag-size-6 a {
	color: #AD5D5D;
	/* Dusty Cedar */
	font-size: 2.0rem;
}

.tag-size-7 a {
	font-size: 2.2rem;
	/* Lush Meadow */
	color: #006E51;
}

.tag-size-8 a {
	font-size: 2.4rem;
	/* Spicy Mustard */
	color: #D8AE47;
}

.tag-size-9 a {
	font-size: 2.6rem;
	/* Potter's Clay */
	color: #9E4624;
}

.tag-size-10 a {
	font-size: 2.8rem;
	/* Aurora Red */
	color: #B93A32;
}

.tag-size-11 a {
	font-size: 3.0rem;
	/* Snorkel Blue */
	color: #034F84;
}

/* ---------- Footer ---------- */

.newslutin-rss a{
	color: #a47bcd;
}

.footer {
	background: #fff;
	color: #666;
	padding: 6rem 0;
	text-align: center;
	font-size: 1.2rem;
}

.footer p {
	margin: 0;
}

@media all and (max-width:500px){
	form fieldset .grid .col .sml-12 > label{
		width:100%!important;
		position: relative!important;
		right: unset!important;
	}	
}

.komika {
	font-family: 'komika_textregular';
	/* font-size:1.1em; */
}

.button{
	background-color: #a47bcd;
	color:white;
	border-radius:5px;
	display: inline-block;
}

.button:hover{
	background-color: #592c86;
	transition-duration:0.2s;
	color:white;

}

/* article list styles */

.nice-border{
	box-shadow: 5px 5px 0 2px #b5dab7;
	border: 1px solid #383839;
	border-radius:10px;
	padding-bottom: 5px;
}

.nice-border:hover{
	box-shadow: 5px 5px 0 2px #a47bcd;
}

.nice-border img{
	border-radius:10px 10px 0 0;
}

.oldArticles {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	padding: 0;
	justify-content: center;
	margin: auto;
	width: 100%;
}

.oldArticles li {
	list-style-type: none;
	margin: 15px;
	/* min-width: 270px; */
	/* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
	/* box-shadow: 2px 2px 1px 2px #b5dab7; */
	box-shadow: 5px 5px 0 2px #b5dab7;
	border: 1px solid #383839;
	border-radius:10px;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

@media all and (min-width:600px){
	.oldArticles li{
		width: 350px;
	}
}

.oldArticles li:hover{
	/* box-shadow: 5px 5px 0 2px #a47bcd; */
	box-shadow: 5px 5px 0 2px #a47bcd;

}

/* old */
.oldArticles li p {
	margin: 0;
	padding: 0;
	width: 270px;
}

.oldArticles li img {
	width: 350px;
	height: 200px;
	object-fit: cover;
	padding: 0;
	margin: 0;
	border-radius:10px 10px 0 0;

}

@media all and (min-width:1100px){
	.oldArticles li{
		height: 300px;
	}

	.categoriesEtTags{
		max-width:1130px;
		margin: auto;
	}
}
