@font-face {
    font-family: 'komika_textregular';
    src: url('KOMTXT__-webfont.eot');
    src: url('KOMTXT__-webfont.eot?#iefix') format('embedded-opentype'),
         url('KOMTXT__-webfont.woff2') format('woff2'),
         /* url('KOMTXT__-webfont.woff') format('woff'), */
         url('KOMTXT__-webfont.ttf') format('truetype'),
         url('KOMTXT__-webfont.svg#komika_textregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

